* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
  margin: 10px;
  align-items: center;
}

.top {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container {
  margin: 10px;
}
fieldset {
  padding: 10px;
}
fieldset legend {
  font-weight: bold;
  margin-bottom: 20px;
}
.question {
  margin: 10px;
  display: flex;
  align-items: center;
}
.questionCheckbox {
  margin-left: 5px;
}
.question input {
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .inputHoras {
  padding: 4px;
  width: 60px;
}

.button,
.buttonReset {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  width: 80px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid black;
  color: white;
}

#reset {
  background-color: rgb(255, 0, 0);
}

#textResult {
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 450px) {
  form {
    align-items: center;
  }
  fieldset legend {
    display: flex;
    text-align: center;
  }
  .question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question input {
    margin-top: 5px;
  }
  .questionCheckbox {
    flex-direction: row;
  }
  .horasTrabalhadasFeriado {
    flex-direction: column
  }
}